if ARCH_NRF52

choice
    prompt "MCU"
    default ARCH_NRF52832

config ARCH_NRF52840
    bool "NRF52840 1MB/512KB"
    select FLASH_SIZE_1MB
    select RAM_SIZE_512KB
config ARCH_NRF52832
    bool "NRF52832 512KB/64KB"
    select FLASH_SIZE_512KB
    select RAM_SIZE_64KB
config ARCH_NRF52810
    bool "NRF52810 192KB/24KB"
    select FLASH_SIZE_192KB
    select RAM_SIZE_24KB
endchoice

endif
