[submodule "kernel/libopencm3"]
	path = kernel/libopencm3
	url = https://github.com/insane-adding-machines/libopencm3.git
[submodule "apps/busybox"]
	path = apps/busybox
	url = git@github.com:insane-adding-machines/busybox.git
[submodule "frosted-mini-userspace"]
	path = frosted-mini-userspace
	url = git@github.com:insane-adding-machines/frosted-mini-userspace.git
[submodule "frosted-mini-userspace-bflt"]
	path = frosted-mini-userspace-bflt
	url = git@github.com:insane-adding-machines/frosted-mini-userspace-bflt.git
[submodule "kernel/net/picotcp"]
	path = kernel/net/picotcp
	url = https://github.com/tass-belgium/picotcp.git
