menu "Platform Selection"

choice ARCH
    prompt "Architecture"
    default ARCH_LM3S

    config ARCH_LM3S
    bool "LM3S"
    help
        Enable support for Stellaris LM3S systems

    config ARCH_LPC17XX
    bool "LPC17XX"
    help
        Enable support for NXP LPC17xx systems

    config ARCH_STM32F4
    bool "STM32F4"
    help
        Enable support for ST STM32F4 systems
endchoice

source "../kernel/stm32f4/Kconfig"
source "../kernel/lpc17xx/Kconfig"
source "../kernel/lm3s/Kconfig"

config FLASH_SIZE_2MB
        bool
config FLASH_SIZE_1MB
        bool
config FLASH_SIZE_512KB
        bool
config FLASH_SIZE_384KB
        bool
config FLASH_SIZE_256KB
        bool
config FLASH_SIZE_128KB
        bool

config RAM_SIZE_256KB
        bool
config RAM_SIZE_192KB
        bool
config RAM_SIZE_128KB
        bool
config RAM_SIZE_96KB
        bool
config RAM_SIZE_64KB
        bool
config RAM_SIZE_32KB
        bool
config RAM_SIZE_16KB
        bool

config ARCH_STM32F401
    bool
config ARCH_STM32F405
    bool
config ARCH_STM32F407
    bool
config ARCH_STM32F411
    bool
config ARCH_STM32F429
    bool

#Temp hack to allow '407 & '411 clock setups to coexist
choice
    prompt "Clock Speed"
    config CLK_48MHZ
        bool "48MHz"
        depends on (ARCH_STM32F401  || ARCH_STM32F411 || ARCH_STM32F429)
    config CLK_84MHZ
        bool "84MHz"
        depends on (ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F429)
    config CLK_100MHZ
        bool "100MHz"
        depends on ARCH_LPC17XX
    config CLK_120MHZ
        bool "120MHz"
        depends on (ARCH_STM32F407 || ARCH_STM32F405 || ARCH_LPC1769 )
    config CLK_168MHZ
        bool "168MHz"
        depends on (ARCH_STM32F407 ||  ARCH_STM32F405 || ARCH_STM32F429)
endchoice

choice 
    prompt "Board"
config MACH_STM32F407Discovery
    bool "STM32F407Discovery"
    depends on (ARCH_STM32F407)
    default y
config MACH_STM32F405Pyboard
    bool "STM32F405 PyBoard (micropython)"
    depends on (ARCH_STM32F405)
    default y
config MACH_STM32F4x1Discovery
    bool "STM32F4x1Discovery"
    depends on (   ARCH_STM32F401 ||ARCH_STM32F411)
    default y
config MACH_STM32F429Discovery
    bool "STM32F429Discovery"
    depends on (ARCH_STM32F429)
    default y

config MACH_LPC1768MBED
    bool "LPC1768MBED"
    depends on ARCH_LPC1768
config MACH_SEEEDPRO
    bool "SEEEDPRO"
    depends on ARCH_LPC1768
    default y
config MACH_LPC1679XPRESSO
    bool "LPC1679XPRESSO"
    depends on ARCH_LPC1769
    default y

config MACH_LM3S6965EVB
    bool "lm3s6965evb"
    depends on ARCH_LM3S6965
    default y

endchoice

endmenu

menu "Kernel Configuration"
 
config KFLASHMEM_SIZE
    int "Kernel Flash size (KB)"
    default 32

config KRAMMEM_SIZE
    int "Kernel RAM size (KB)"
    default 32

config KLOG
    bool "Enable kernel logging"
config KLOG_DEV
    depends on (KLOG && DEVUART)
    string "Kernel log output device"
    default "/dev/ttyS0"

endmenu

choice
prompt "Default size for tasks stack memory"
default TASK_STACK_SIZE_2K 

   config TASK_STACK_SIZE_1K
   bool "Tiny stack (1024 Bytes)"

   config TASK_STACK_SIZE_2K
   bool "Small stack (2048 Bytes)"

   config TASK_STACK_SIZE_4K
   bool "Big stack (4096 Bytes)"

   config TASK_STACK_SIZE_8K
   bool "Huge stack (8192 Bytes)"

endchoice

menu "Subsystems"
   menu "Filesystems"
       config SYSFS
       bool "SysFS (/sys)"
       default y

       config MEMFS
       bool "MemFS"
       default y
       
       config XIPFS
       bool "Xip FS"
       default y
   endmenu

   menu "Sockets"
       config SOCK_UNIX
       bool "UNIX Sockets for IPC"
       default n
       config SOCK_INET
       bool "TCP/IP Socket support"
       default n
       choice NET_STACK
        prompt "TCP/IP stack selection"
        default PICOTCP
        depends on SOCK_INET

        config PICOTCP
        bool "Built-in PicoTCP"
        default y
       endchoice
       source ../kernel/net/Kconfig

   endmenu

   menu "Devices"
       config DEVNULL
       bool "Support for /dev/null and /dev/zero"
       default y

       menuconfig DEVUART
       bool "Generic UART driver"
       default y

       if DEVUART

            config USART_0
            bool "USART 0"
            depends on ARCH_LM3S6965

            config USART_1
            bool "USART 1"
            depends on (ARCH_LM3S6965 ||ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F405 || ARCH_STM32F407  || ARCH_STM32F429 )

            config USART_2
            bool "USART 2"
            depends on (ARCH_LM3S6965 ||ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F405 || ARCH_STM32F429  || ARCH_STM32F407)

            config USART_3
            bool "USART 3"
            depends on (ARCH_STM32F407 || ARCH_STM32F405)

            config USART_6
            bool "USART 6"
            depends on (ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F407 || ARCH_STM32F405)

            config UART_0
            bool "UART 0"
            depends on ARCH_LPC17XX

            config UART_1
            bool "UART 1"
            depends on ARCH_LPC17XX

            config UART_2
            bool "UART 2"
            depends on ARCH_LPC17XX

            config UART_3
            bool "UART 3"
            depends on ARCH_LPC17XX

       endif
       
       config DEVUSBETH
       bool "Ethernet over USB (CDC-ECM)"
       default n
    
       if DEVUSBETH
       config USB_DEFAULT_IP
       string "Default (boot-up) address for usb0"
       default 192.168.6.150

       config USB_DEFAULT_NM
       string "Default (boot-up) netmask for usb0"
       default 255.255.255.0
       endif

       menuconfig DEVF4EXTI
       bool "STM32F4 EXTI driver"
       depends on (ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F407 || ARCH_STM32F405  || ARCH_STM32F429 )
       default n

       menuconfig DEVADC
       bool "Generic ADC driver"
       depends on (ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F407 || ARCH_STM32F405  || ARCH_STM32F429 )
       default n

       menuconfig DEVF4I2C
       bool "STM32F4 I2C driver"
       depends on (ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F407 || ARCH_STM32F405  || ARCH_STM32F429 )
       default n

       if DEVF4I2C
            config I2C_1
            bool "I2C 1"
       endif

       config DEVCS43L22
       tristate "CS43L22 driver (Stereo DAC)"
       depends on ( I2C_1)
       default n

       config DEVLSM303DLHC
       tristate "LSM303DLHC driver (Accelerometer & Magnetometer)"
       depends on ( I2C_1)
       default n


       
       menuconfig DEVSPI
       bool "Generic SPI driver"
       depends on (ARCH_STM32F401 ||ARCH_STM32F411 || ARCH_STM32F407 || ARCH_STM32F405  || ARCH_STM32F429 )
       default n

       if DEVSPI
            config SPI_1
            bool "SPI 1"
       endif

       config DEVL3GD20
       tristate "L3GD20 driver (Gyro)"
       depends on ( SPI_1)
       default n

       config DEVGPIO
       depends on (ARCH_STM32F4 || ARCH_LPC17XX)
       bool "Generic GPIO driver"
       default y

       config DEVRNG
       depends on ARCH_STM32F4
       bool "STM32F4 RNG driver"
       default y

   endmenu
endmenu

menu "Userspace"
choice
    prompt "System Selection"
    default USERSPACE_MINI

    config USERSPACE_MINI
    bool "Frosted Minimalistic Userspace"

    config USERSPACE_BFLT
    depends on XIPFS
    bool "Frosted Userspace with bFLT executables in xipfs filesystem"

endchoice
endmenu
