if ARCH_STM32F4

choice 
    prompt "MCU"
    default ARCH_STM32F407_G
config ARCH_STM32F407_G
    bool "STM32F407xG 1MB"
    select FLASH_SIZE_1MB
    select RAM_SIZE_192KB
config ARCH_STM32F407_E
    bool "STM32F407xE 512KB"
    select FLASH_SIZE_512KB
    select RAM_SIZE_192KB
config ARCH_STM32F411_E
    bool "STM32F411xE 512KB"
    select FLASH_SIZE_512KB
    select RAM_SIZE_128KB
config ARCH_STM32F411_C
    bool "STM32F411xC 256KB"
    select FLASH_SIZE_256KB
    select RAM_SIZE_128KB
endchoice

endif
